<link href="assets/css/sb-admin-2.css" rel="stylesheet">
<link href="assets/fontawesome-free/css/all.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<ion-content>
  <div id="app">
    <!-- Page Wrapper -->
    <div id="wrapper" >

      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" *ngIf="modo_tela != 'encontrarEquipe'" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
          <div class="sidebar-brand-icon ">
           <!--  <i class="fas fa-laugh-wink"></i> -->
           <i><img src="assets/img/hqdefault.jpg" height="50" width="50" /></i>
          </div>
          <div class="sidebar-brand-text mx-3">Duo Finder</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active" (click)="trocarModoTela('')">
          <a class="nav-link">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Partidas Recentes</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
          Bora pro LOL
        </div>

        <!-- Nav Item  -->
        <li class="nav-item" (click)="trocarModoTela('encontrarEquipe')">
          <a class="nav-link">
            <i class="fas fa-fw fa-table"></i>
            <span>Encontrar Equipe</span></a>
        </li>

        <li class="nav-item"> 
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <i class="fas fa-fw fa-address-book"></i>
            <span>Lista de Amigos</span>
          </a>
          <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Online</h6>
              <a class="collapse-item" href="#">Fulando</a>
            </div>
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Offline</h6>
              <a class="collapse-item" href="#">Ciclano</a>
            </div>
          </div>
        </li>
        
        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
          Perfil
        </div>

        <!-- Nav Item - Pages Collapse Menu -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Configurações</span>
          </a>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Configurações de Acesso:</h6>
              <a class="collapse-item" href="#">Alterar Senha</a>
            </div>
          </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3" (click)="trocarModoTela('')">
              <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">

              <!-- Nav Item - Alerts -->
              <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-bell fa-fw"></i>
                  <!-- Counter - Alerts -->
                  <span class="badge badge-danger badge-counter">2</span>
                </a>
                <!-- Dropdown - Alerts -->
                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                  <h6 class="dropdown-header">
                    Quem está procurando partida...
                  </h6>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-3">
                      <div class="icon-circle bg-primary">
                        <i class="fas fa-file-alt text-white"></i>
                      </div>
                    </div>
                    <div>
                      <div class="small text-gray-500">Há 2 segundos</div>
                      Brian
                    </div>
                  </a>

                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-3">
                      <div class="icon-circle bg-primary">
                        <i class="fas fa-file-alt text-white"></i>
                      </div>
                    </div>
                    <div>
                      <div class="small text-gray-500">Há 10 minutos</div>
                      Santana
                    </div>
                  </a>

                </div>
              </li>

              <div class="topbar-divider d-none d-sm-block"></div>

              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" (click)="deslogar()" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="mr-2 d-none d-lg-inline  small color-font-lol">{{league_name}}</span>
                  <img class="img-profile rounded-circle" src="assets/img/Renekton_Square_0.png" width="60" height="60">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right animated--grow-in" aria-labelledby="userDropdown">
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Settings
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                    Activity Log
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                  </a>
                </div>
              </li>

            </ul>

          </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid" *ngIf="modo_tela == 'encontrarEquipe'">
            <form class="" [formGroup]="matchForm" (ngSubmit)="encontrarMatch()">
              <div class="input-group">
                <span>Em qual posição você deseja jogar?</span>
                <h2 class="col-lg-12">
                  <select name="role-comp" id="role-comp" class="custom-select" formControlName="roleUsuario">
                    <option value="BOT">
                      BOT
                    </option>
                    <option value="SUPORTE">
                      SUPORTE
                    </option>
                    <option value="TOPO">
                      TOPO
                    </option>
                    <option value="MEIO">
                      MEIO
                    </option>
                    <option value="SELVA">
                      SELVA
                    </option>
                  </select>
                </h2>
                <label>Em qual posição você deseja que seus companheiros de equipe joguem?</label>
                <h2 class="col-lg-12">
                  <div>                    
                    <input type="checkbox" value="BOT" name="roles" [formControl]="matchForm.controls['roleComp'].controls[0]">
                    <label for="BOT">BOT</label>
                  </div>
                  <div>
                    <input type="checkbox" value="SUPORTE" name="roles" [formControl]="matchForm.controls['roleComp'].controls[1]">
                    <label for="SUPORTE">SUPORTE</label>
                  </div>
                  <div>
                    <input type="checkbox" value="TOPO" name="roles" [formControl]="matchForm.controls['roleComp'].controls[2]">
                    <label for="TOPO">TOPO</label>
                  </div>
                  <div>
                    <input type="checkbox" value="MEIO" name="roles" [formControl]="matchForm.controls['roleComp'].controls[3]">
                    <label for="MEIO">MEIO</label>
                  </div>
                  <div>
                    <input type="checkbox" value="SELVA" name="roles" [formControl]="matchForm.controls['roleComp'].controls[4]">
                    <label for="SELVA">SELVA</label>
                  </div>
                </h2>
                <label class="col-lg-12">Defina uma faixa de nível que seus companheiros devem possuir!</label>

                <h2 class="col-lg-6">
                <label class="">Nivel Minimo</label>
                <input type="number" name="minLevel" id="minLevel" class="custom-select" min="1" max="10000" formControlName="minLevelP" >  
                </h2>
                <h2 class="col-lg-6">
                  <label class="">Nivel Maximo</label>
                <input type="number" name="maxLevel" id="maxLevel" class="custom-select" min="1" max="10000" formControlName="maxLevelP" >  
                </h2>
                <h2 class="col-lg-12"><br></h2>

              </div>
              <div class="input-group-append">
                <button class="btn btn-warning" type="submit">
                  Encontrar companheiros de equipe!
                </button>
              </div>
            </form>

            <div *ngIf="listaCompanheirosEncontrados.length > 0">
              <p>Nick dos jogadores Encontrados para jogar com você:</p>
              <li *ngFor="let companheiro of listaCompanheirosEncontrados">
                {{companheiro.league_name}}
              </li>
            </div>
          </div>
          <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Bonde do LOL - TIS5</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->

      </div>
      <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">O mundo precisa de você, Invocador!</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Caso você queira realmente sair, clique em Deslogar ):</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
            <a class="btn btn-primary" (click)="deslogar();"><font color="black">Deslogar</font></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
