.container{
    width: 100%;
    height: 100%;
    background-image: url('/assets/img/bg-default.jpg');
    .conteudo-central {
        width: 20%;
        height: 20%;
        .imagem{
            background-image: url('/assets/img/kled-champion-spotlight.jpg');   
            width: 50%;
            height: 50%;
        }
        .dados{
            width: 50%;
        }
    }
}
